body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.btn {
  padding: 6px 12px 6px 12px;
  border-radius: 3px;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: (1px 1px 3px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(
    to right,
    rgb(255, 217, 123),
    rgb(255, 193, 7)
  );
  @media screen and (max-width: 640px) {
    font-size: 0.8em;
  }
}

.btn:hover {
  transform: translatey(-1.5px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

.btn:active {
  transform: translateY(-0.2px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

#submit {
  margin: 10px 0px 20px 100px;
}
